.image-item {
    display: inline-block;
    align-items: center;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    vertical-align: top;
  
}
  
.image-item:hover {
    border: 2px solid rgb(114, 114, 114);
    background: #8CF;
    cursor: pointer;
}
  
.selected-image-item {
    border: 2px solid #099;
    background: #8CF;
    cursor: pointer;
}
  
.selected-image-item:hover {
    border: 2px solid rgb(114, 114, 114);
    background: #8CF;
    cursor: pointer;
}
  
